.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.red{
	color: red;
}
.navbar-logo{
    float:left;
    margin-top:5px;
    margin-left:5px;
    height:36px;
    width:42px;
}
html,
body {
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
}
.ohje-osio{
  position: relative;
  margin: 0 auto;
  background: #333;
}
.container {
  position: relative;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}

.hero {
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1.hero {
  font-size: 54px;
  text-align:justify
}

h2.hero {
  font-size: 30px;
  margin-top: 45px;
  text-align:justify

}

h2.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

li {
  color: white;
 text-align:justify
}
